# -e git+https://github.com/biothings/biothings.api@1.0.x#egg=biothings[hub,docker]
biothings[hub, docker] @ git+https://github.com/biothings/biothings.api.git@1.1.x
biopython>=1.79     # for pmids to make citation/funding in utils (ncbi_geo crawler)
text2term       # for topic_category helper in utils
timeout-decorator   # for timeout in biostudies
lxml        # for utils to remove html tags
rdflib      # for parsing RDF/OWL ontology data
regex       # for advanced regex operations in utils
