-e git+https://github.com/biothings/biothings.api@1.0.x#egg=biothings[hub,docker]
biopython>=1.79     # for pmids to make citation/funding in utils (ncbi_geo crawler)
text2term==4.1.0       # for topic_category helper in utils
